$defaultColor: #350d36;
$backgroundColor: #bebeff;
$lightColor: #eee;
$strongColor: #2bac76;
$sideColor: #1164a3;

.App {
  margin: 0 auto;
  overflow: hidden;
  padding-left: 6rem;
  padding-right: 15vw;
  min-width: 320px;
  margin: 0 auto;
  // LIST
  .list_container {
    position: absolute;
    left: 0;
    height: 100vh;
    padding-bottom: 30vh;
    background-color: $backgroundColor;
    padding-left: 15vw;
    .list {
      left: 0;
      width: 6rem;
      background-color: $sideColor;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      overflow-y: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }
      .avatar_container {
        display: flex;
        span.avatar {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          border: 2px solid #eee;
          &:hover {
            border: 2px solid $strongColor;
          }
        }
        &.selected {
          .avatar {
            border: 2px solid $strongColor;
          }
          width: 2.1rem;
          height: 2.1rem;
        }
      }
    }
  }
  .main_container {
    height: 100vh;
    padding-bottom: 30vh;
    padding-left: 15vw;
    background-color: $sideColor;
    // CHAT HEADER
    .header {
      padding: 0 1rem;
      height: 200px;
      padding-top: 100px;
      background-color: $backgroundColor;
      position: relative;
      .controller {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        padding-right: 1rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        // .search_input {
        //   margin: auto;
        //   padding-left: 0.5rem;
        // }
        // .search {
        //   background-color: inherit;
        //   border: none;
        //   cursor: pointer;
        // }
        button.clear {
          background-color: inherit;
          border: none;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          align-items: center;
          span {
            font-size: .5rem;
          }
        }
      }
      .avatar_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .avatar {
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
        }
        button.button_switch {
          border-radius: 15px;
          background-color: $strongColor;
          color: $lightColor;
          padding: 10px;
          border: none;
          cursor: pointer;
        }
      }
    }
    // CHAT
    #chat {
      height: 30rem;
      height: calc(100% - 200px - 2rem);
      overflow-y: scroll;
      border: 0.5rem solid $backgroundColor;
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }
      .line {
        margin-top: 10px;
        display: flex;
        .chat_box {
          background-color: $lightColor;
          max-width: 20rem;
          word-wrap: break-word;
          padding: 0.5rem 1rem;
          border-radius: 0 0.5rem 0.5rem 0;
          &.mine {
            background-color: $backgroundColor;
            margin-left: auto;
            border-radius: 0.5rem 0 0 0.5rem;
            color: $sideColor;
          }
          &.typing {
            width: 3rem;
            height: 2rem;
            background: url("./resources/typing/TypingStatus.gif");
            background-size: contain;
          }
        }
      }
    }
    #text {
      width: 100%;
      display: flex;
      height: 2rem;
      input {
        width: 100%;
        padding-left: 0.5rem;
        background-color: $lightColor;
        border: 1px solid $backgroundColor;
      }
      button {
        background-color: $strongColor;
        width: 8rem;
        padding-right: 2rem;
        position: relative;
        border: 1px solid $backgroundColor;
        color: $lightColor;
        .icon {
          position: absolute;
          right: 0;
          top: 0;
          width: 2rem;
          height: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          svg {
            color: $lightColor;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .App {
    padding-left: 3rem;
    padding-right: 0;
    .list_container {
      padding: 0;
      .list {
        width: 3rem;
      }
    }
    .main_container {
      padding: 0;
    }
  }
}
.avatar {
  &.avatar1 {
    background: url("./resources/avatars/1.jpg");
    background-size: contain;
  };
  &.avatar2 {
    background: url("./resources/avatars/2.jpg");
    background-size: contain;
  };
  &.avatar3 {
    background: url("./resources/avatars/3.jpg");
    background-size: contain;
  };
  &.avatar4 {
    background: url("./resources/avatars/4.jpg");
    background-size: contain;
  };
  &.avatar5 {
    background: url("./resources/avatars/5.jpg");
    background-size: contain;
  };
  &.avatar6 {
    background: url("./resources/avatars/6.jpg");
    background-size: contain;
  };
  &.avatar7 {
    background: url("./resources/avatars/7.jpg");
    background-size: contain;
  };
  &.avatar8 {
    background: url("./resources/avatars/8.jpg");
    background-size: contain;
  };
  &.avatar9 {
    background: url("./resources/avatars/9.jpg");
    background-size: contain;
  };
}