.App {
  margin: 0 auto;
  max-width: 500px;
  overflow: hidden;
  position: relative;
  padding-left: 7rem;
  // LIST
  .list {
    position: absolute;
    left: 0;
    width: 6rem;
    background-color: rgb(190, 190, 255);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
    .avatar_container {
      background-color: black;
      display: flex;
      img.avatar {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
      }
      &.selected {
      background-color: white;

      }
    }
  }
  // CHAT HEADER
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    .avatar_container {
      .avatar {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
      }
    }
  }
  // CHAT
  #chat {
    height: 30rem;
    overflow-y: scroll;
    border: 2px solid rgb(193, 199, 255);
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
    .line {
      margin-top: 10px;
      display: flex;
      .chat_box {
        background-color: #eee;
        padding: 5px;
        max-width: 200px;
        word-wrap: break-word;
        padding: 0 1rem;
        border-radius: 0 0.5rem 0.5rem 0;
        &.mine {
          background-color: rgb(193, 199, 255);
          margin-left: auto;
          border-radius: 0.5rem 0 0 0.5rem;
        }
      }
    }
  }
  #text {
    margin: 0 auto;
  }
}
